services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PASS}
      - POSTGRES_DB=${PG_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DATABASE}" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    networks:
      - nova-network

  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes: 
      - redis_data:/data
    networks:
      - nova-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASS}
    ports:
      - "8077:80" # снаружи будет доступно http://IP_СЕРВЕРА:8080
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - nova-network

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: always
    ports:
      - "8078:5540"
    volumes:
      - redisinsight_data:/data
    networks:
      - nova-network

  app:
    build: .
    restart: always
    ports:
      - "8099:8099"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    # Если нужны тома для логов/сессий — раскомментируй:
    volumes:
      - ./logs:/app/logs
      - ./main_bot/utils/sessions:/app/main_bot/utils/sessions
      - ./main_bot/utils/temp:/app/main_bot/utils/temp
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8099/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    networks:
      - nova-network

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nova_website:/var/www/nova_website
    depends_on:
      app:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - nova-network

  site-builder:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./nova_website:/app
    command: sh -c "if [ -f package.json ]; then npm install && npm run build; fi"
    networks:
      - nova-network

volumes:
  postgres_data:
  pgadmin_data:
  redis_data:
  redisinsight_data:


networks:
  nova-network:
    driver: bridge
